<launch>
	<arg name="image_topic"  default="/camera/rgb/image_raw"/>
	<arg name="image_out_topic"  default="/chroma_proc/image_raw"/>
	<arg name="depth_topic"  default="/camera/depth/image_raw"/>
	<arg name="depth_out_image_topic"  default="/depth_proc/image"/>
	<arg name="depth_out_dif_topic"  default="/depth_proc/image_dif"/>
	<arg name="project_path" default="$(find ros_visual)" />
	<arg name="playback_topics"  default="false"/>
	<arg name="write_csv"  default="false"/>
	<arg name="display"  default="false"/>
	<arg name="min_depth"  default="0"/>
	<arg name="max_depth"  default="6000"/>
	<arg name="hor_field"  default="58"/>
	<arg name="ver_field"  default="45"/>
	<arg name="depth_width"  default="640"/>
	<arg name="depth_height"  default="480"/>
	<arg name="chroma_width"  default="1280"/>
	<arg name="chroma_height"  default="1024"/>
	

	<include file="$(find chroma)/launch/chroma.xml">
		<arg name="project_path" default="$(arg project_path)"/>
		<arg name="image_topic" default="$(arg image_topic)" />
		<arg name="image_out_topic" default="$(arg image_out_topic)" />
		<arg name="chroma_width"  default="$(arg chroma_width)"/>
		<arg name="chroma_height"  default="$(arg chroma_height)"/>
		<arg name="playback_topics" default="$(arg playback_topics)"/>
		<arg name="display" default="$(arg display)"/>
	</include> 


	<include file="$(find depth)/launch/depth.xml">
		<arg name="project_path" default="$(arg project_path)"/>
		<arg name="depth_topic" default="$(arg depth_topic)" />
		<arg name="depth_out_image_topic" default="$(arg depth_out_image_topic)" />
		<arg name="depth_out_dif_topic" default="$(arg depth_out_dif_topic)" />
		<arg name="min_depth" default="$(arg min_depth)"/>
		<arg name="max_depth" default="$(arg max_depth)"/>
		<arg name="hor_field"  default="$(arg hor_field)"/>
		<arg name="ver_field"  default="$(arg ver_field)"/>
		<arg name="depth_width"  default="$(arg depth_width)"/>
		<arg name="depth_height"  default="$(arg depth_height)"/>
		<arg name="playback_topics" default="$(arg playback_topics)"/>
		<arg name="display" default="$(arg display)"/>
	</include> 

	<include file="$(find fusion)/launch/fusion.xml">
		<arg name="project_path" default="$(arg project_path)"/>
		<arg name="image_topic" default="$(arg image_out_topic)" />
		<arg name="depth_topic" default="$(arg depth_out_image_topic)" />
		<arg name="depth_dif_topic" default="$(arg depth_out_dif_topic)" />
		<arg name="min_depth" default="$(arg min_depth)"/>
		<arg name="max_depth" default="$(arg max_depth)"/>
		<arg name="playback_topics"  default="$(arg playback_topics)"/>
		<arg name="write_csv"  default="$(arg write_csv)"/>
		<arg name="display" default="true"/>
	</include> 


</launch>

