<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

	<arg name="project_path" default="$(find ros_visual)" />

	<node pkg="chroma" type="chroma" name="chroma" output="screen">
		<rosparam file="$(find chroma)/config/parameters.yaml" command="load" />
		<param name="project_path" value="$(find ros_visual)" />
	</node>

	<node pkg="depth" type="depth" name="depth" output="screen" >
		<rosparam file="$(find depth)/config/parameters.yaml" command="load" />
		<param name="project_path" value="$(find ros_visual)" />
	</node>	

	<node pkg="fusion" type="fusion" name="fusion" output="screen">
		<rosparam file="$(find fusion)/config/parameters.yaml" command="load" />
		<param name="project_path" value="$(find ros_visual)" />
	</node>

	<node pkg="classifier" type="classifier.py" name="classifier" output="screen">
		<rosparam file="$(find classifier)/config/parameters.yaml" command="load" />
		<param name="project_path" value="$(find ros_visual)" />
	</node>

</launch>

