<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

	<arg name="project_path" 	default="$(find ros_visual)" 	 />
	<arg name="image_topic"  	default="/camera/rgb/image_raw"  />
	<arg name="depth_topic"  	default="/camera/depth/image_raw"/>
	<arg name="display"  		default="false" 				 />
	<arg name="compressed" 		default="false" 				 />
	<arg name="use_depth" 		default="false" 				 />
	<arg name="fps" 			default="30" 					 />
	
	<node pkg="chroma" type="chroma" name="chroma" output="screen">
		<rosparam file="$(find chroma)/config/parameters.yaml" command="load" />
		<param name="project_path"    value="$(find ros_visual)"/>
		<param name="playback_topics" value="$(arg compressed)" />
		<param name="image_topic"     value="$(arg image_topic)"/>
		<param name="display" 	      value="$(arg display)"    />
	</node>
	
	<group if="$(arg use_depth)">
		<node pkg="depth" type="depth" name="depth" output="screen" >
			<rosparam file="$(find depth)/config/parameters.yaml" command="load" />
			<param name="project_path"    value="$(find ros_visual)" 	  />
			<param name="playback_topics" value="$(arg compressed)"  	  />
			<param name="depth_topic"     value="$(arg depth_topic)" 	  />
			<param name="display"  	      value="$(arg display)" 		  />
		</node>	
	</group>

	<node pkg="fusion" type="fusion" name="fusion" output="screen">
		<rosparam file="$(find fusion)/config/parameters.yaml" command="load" />
		<param name="playback_topics" value="$(arg compressed)"  />
		<param name="project_path"    value="$(find ros_visual)" />
		<param name="display" 		  value="true"     />
		<param name="depth_topic"     value="$(arg depth_topic)" 	  />
		<param name="use_depth" 	  value="$(arg use_depth)"     />
		<param name="fps" 	  		  value="$(arg fps)"     />
	</node>

	<node pkg="classifier" type="classifier.py" name="classifier" output="screen">
		<rosparam file="$(find classifier)/config/parameters.yaml" command="load" />
		<param name="classifier_path" value="$(find classifier)" 				  />
		<param name="fps" 	  		  value="$(arg fps)"     />
	</node>

</launch>

